APP_PORT=8443
POSTGRES_DB=centric_db
POSTGRES_USER=centric_user
POSTGRES_PASSWORD=change_this_strong_password
DATABASE_URL=postgresql+psycopg2://centric_user:change_this_strong_password@db:5432/centric_db
APP_SECRET_KEY=change_this_fernet_key
LICENSE_FILE=/app/license/license.json
LICENSE_PUBLIC_KEY_FILE=/app/backend/app/license/public_key.pem
LICENSE_CHECK_INTERVAL_SECONDS=3600
LICENSE_ENFORCEMENT=true
EXPECTED_AD_DOMAIN=labdaniel.local
